/* Light theme */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-bg: #ffffff;
  --border-color: #e5e7eb;
  --primary-color: #2563eb;

  --button-color: #000000;
  --icon-color: opacity(0.5);
  --border-color-active: #000000;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #0f0f0f;
  --text-color: #cdcdcd;
  --card-bg: #000000;
  --border-color: #252525;
  --primary-color: #3b82f6;

  --button-color: #ba5831;
  --icon-color: invert(70%);
  --border-color-active: #6e4126;
}